.trendingtag{
    font-size: 14px;
}

.tagname{
    font-size: 18px;
    font-weight: 600;
    
}

.feed::-webkit-scrollbar {
    display: none;
  }

  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .card{
    margin-left: 20px;
    margin-right: 20px;
  }