
.feed {
    flex: 0.3;
    background-color: #F6F8FF;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
    flex-wrap: wrap;
  }
  
.feedheader{
        position: sticky;
        top: 0;
        /* background-color: white; */
        font-family: 'Gilroy';
        z-index: 100;
        font-size: 16px;
        /* border: 1px solid var(--twitter-background); */
        padding: 15px 20px;
}

.widgetsinput {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */

}

.widgetsinput > input {
  border: none;
  background-color: white;
  width: 100%;
}

.widgetssearchIcon {
  color: gray;
}

.widgetssearchbar:focus,
.widgetssearchbar:active {
  outline:none;
  border: none;
}