
.feed {
    flex: 0.5;
    background-color: #F6F8FF;
    /* padding-left: 2%;
    padding-right: 2%; */
    overflow-y: scroll;
    flex-wrap: wrap;
  }
  
  .posthead{
    display:flex;
    /* background-color: crimson; */
    padding: 10px 20px;
    box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.25);
}

.headwrap{
    display:flex;
    justify-content: space-between;
}

.imgwrap{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    border-radius: 60px;
    /* margin-bottom: 4%; */
    padding-left: 20px;
    padding-right: 20px;
}
  
.foodimg{
border-radius: 20px;
width: 100%;
}

.peoplecount{
  margin-left: 8px;
}

  .footer {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 10px;
  }
  
  .headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .headerText > h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .badge {
    font-size: 18px !important;
    color: var(--twitter-color);
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 16px;
    color: gray;

  }

  .post__avatar {
    padding: 20px;
  }

    .avatar{
      margin-right: 10px;
    }