.widget__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  
  .widget__input > input {
    border: none;
    background-color: var(--twitter-background);
    width: 100%
  }

.optbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.optbar>h3{
  color: #5f5f5f;
  
}

.optselected{
  color: var(--twitter-color) !important;
}