*{
    margin: 0;
    padding: 0;
}

.flexbox{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    justify-content: space-around;
}