.feed {
    flex: 0.5;
    padding-left: 2%;
    overflow-y: scroll;
    flex-wrap: wrap;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }