.post {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    padding-bottom: 10px;
    background-color: #F6F8FF;
    border: 2px solid rgba(101, 126, 255,0.2);
    border-radius: 20px;
    margin: 20px;
    margin-top: 0;
  }
  
  .post:hover{
    background-color: #f1f1f1;
  }

  .post__headerDescription>p{
    white-space: pre-line;
  }

  .highlighted-text{
    color: var(--twitter-color);
  }


  .reheaderDescription{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .post__body {
    flex: 1;
    padding: 10px;
    padding-right: 20px;
  }

.posthead{
  display:flex;
  align-items: center;

}
.postheadwrap{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
  
.post__commt
{
text-decoration: none;
color: #657786 !important;
}

  .imgwrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 60px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

  .reimgwrap{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    border-radius: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

  .rewrapper{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    border-radius: 60px;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 20px;

}

.rewrap{
  border: 2px solid rgba(101, 126, 255,0.2);


  border-radius: 20px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
  
.foodimg{
border-radius: 20px;
width: 100%;
}

.peoplecount{
  margin-left: 8px;
}

  .post__footer {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 10px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;

  }
  
  .post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;

  }



  .post__avatar {
    padding: 20px;

  }
  .reavatar{
    padding: 20px;
    padding-left: 0;

  }

 #dropdown-item-button{
   padding: 0 !important;
    background-color:  rgba(0,0,0,0) !important;
    color: #657786 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

 #dropdown-item-button:active,
 #dropdown-item-button:visited,
 #dropdown-item-button:hover{
   padding: 0 !important;
    background-color:  rgba(0,0,0,0) !important;
    color: #657786 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

  }

  .dropitem:active,
  .dropitem:focus{
    background-color:  white!important;
    color: var(--twitter-color);
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .dropitem:hover{
    color: var(--twitter-color);
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .userlinks{
    color: #5f5f5f !important;
    text-decoration: none;
  }
  
  .userlinks:hover{
    color: black !important;
    text-decoration: none;
  }