.commentfield{
    margin-left: 20px;
    width: 74%;
    margin-bottom: 12px;
    padding: 5px;
    padding-left: 10px;
    border: none !important;
    outline: 2px solid rgba(101, 126, 255,0.3) !important;
    box-shadow: none !important;
}

.inputcommdiv{
    background-color: white;
    /* width: 45%; */
    /* position: sticky;
    bottom: 0; */
    padding-bottom: 20px;
    padding-left: 2px;
  }

  .commentspinner{
    margin-top: 30vh !important;
    margin-bottom: 70vh !important;
    margin-left: 5vw;
  }

.commentfield:focus{
    border: none !important;
    outline: none !important;
    outline: 2px solid rgba(101, 126, 255,0.7) !important;
    box-shadow: none !important;
}

.commentbtn{
    margin-left: 20px;
    margin-bottom: 8px;
    background-color: var(--twitter-color) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.commentbtn:hover{
background-color: #4563ff!important;
border: none !important;
outline: none !important;
box-shadow: none !important;
}

.repbtn{
  cursor: pointer;
}