
.postcards{
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  height: auto;
}

/* > div{
  flex-direction: row;
   background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

.postcards header{
  display: flex;
  /* padding: 15px 20px 0; */
  margin: 0 0 15px;
  color: #666;
  height: 2rem;
}

.postcards header .more{
  flex-grow: 1;
}

.postcards header .more i{
  color: #000;
}

.postcards header .username{
  flex-grow: 11;
  display: flex;
  font: 14px "Favorit", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  color: black; 
}

.postcards header .username .name a{
  color: black;
  
  padding-right: 5px;
  /* font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; */
}

.postcards header .username .follow a:hover{
  text-decoration: underline;
}

.postcards .content{
    box-sizing: border-box;
    color: "black";
    font-family: "Favorit", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
    white-space: pre-line;
    width: 100%;
    word-break: break-word;
}

.postcards .content .text{
  padding: 0 20px;
  /* width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 15px; */
}

.postcards .content .image img{
  object-fit: contain;
  width: 100%;
  /* height: auto; */
}

.postcards footer{
  align-items: center;
  color: rgba(var(--black),.65);
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-size: .875rem;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1.5;
  margin-top: 25px;
  padding-bottom: 12px;
}

.postcards footer .likes{
  padding-left: 20px;
}

.postcards footer .actions{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.postcards footer .actions div{
  padding: 0 10px;
}