* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
}

body {
  --twitter-color: #657EFF;
  --twitter-background: #F6F8FF;
}

.staricon{
  margin-right: 10px ;
}

body{
  background-color: #f1f1f1;
}

