@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

.signUpForm{
  display: flex;
  justify-content: center;
  width: 50%;
}

.signUpHeader{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 140px; */
  padding: 40px 0px 14px 0px;  
}

.signUpHeader .header{
  font-family: Gilroy;
  font-weight: 600;
  color: #657EFF;
  font-size: 40px;
}

.signUpHeader .headline{
  font-weight: 600;
  font-size: 18px;
  padding: 1rem 5rem;
}

.signUpForm input{
  height: 24px;
}

.signUpForm .ant-input-prefix{
  margin-right: 12px;
}

.signUpForm .ant-input:hover{
  background-color: #EEF0F4;
}

.signUpForm .login-form-button{
  width: 100%;
  background-color: #08BD80;
  border-radius: 8px;
  height: 36px;
  /* padding: 3px 0px 7px 0px; */
}

.signUpForm .ant-form-item-explain-error{
  font-size: 11px;
  /* text-align: end; */
}

.signUpForm .login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 58vh; */
  height: 300px;
  width: 42%;
  min-width: 300px;
}

/* .signUpForm .formFooter{
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}

.signUpForm .formFooter a{
  color: #657EFF;
  font-weight: 1000;
  margin-left: 4.5px;
} */


.signup-form .ant-input {
    border: 2px solid rgba(101, 126, 255, 0.2)!important;
    height: 2rem;
    border-radius: 5px!important;
    background-color: #FFFFFF;
    width: 20rem;    
}   

.signup-form .ant-input-affix-wrapper{
    padding: 0;
    border: none;
    background-color: transparent;
}

.signup-form button{
    color: #FFFFFF;
    background-color: #657EFF;
    width: 100%;
    border-radius: 5px;
}