.leftbox{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../../../assets/images/Group\ 230.svg");
    background-color: #F6F8FF;
    /* background-position: center; */
}

.rightbox{
    width: 50vw;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    align-items: center;


    /* justify-content: center; */
    padding-left: 120px;


    background-color: #F6F8FF;

}

.field{
    width: 90%;
    height:40px;
    padding: 5px 10px;
    box-sizing: border-box;  
    border: 1.3px solid rgba(101, 126, 255,0.2) ; 
    font-family: Lato;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 0px 14px 0px rgba(61, 100, 241,0.1);
} 


.headline{
    color: var(--twitter-color);
    /* background-color: aqua; */
    margin-bottom: 16px;
    width: 30vw;
    /* text-align: center; */
}

.wrapbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub{
    width: 90%;
    /* height: 35px; */

    background-color: #657EFF;
    font-size: 15px;
    border: none;
    color: #ffe3e3;
    padding: 8px 36px;
    text-decoration: none;
    border: 2px solid #ccc;
    margin: 0 ;
    cursor: pointer;  
    border-radius: 5px;
}

.labelfield{
    color: #5F5F5F;
    margin-bottom: 0;
    margin-left: 1%;
}

.visible{
    color: #f95700ff;
    font-weight: 500;
    margin-bottom: 0 !important;
    /* margin: auto; */
    font-size: 16px;
    padding-left: 1%;
    width: 70%;
    text-align: left;
}

.invisible{
    opacity: 0;
    font-size: 16px;
    color: #f95700ff;
    margin-bottom: 0 !important;
    padding-left: 1%;
    font-weight: 600;
    width: 70%;
    text-align: left;
}

.linkswitch1{
    text-decoration: none;
    color: #696667;
    margin-left: 1%;
    cursor:pointer;
}

.linkswitch1:hover, .linkswitch2:hover{
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; 
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.5; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.5; 
  }


  @media(max-width: 750px){
      .leftbox{
    display:none;
      }
      .rightbox{
          width: 100%;
      }
  }

